registry=https://registry.npmjs.org/
save-exact=true
loglevel=warn
package-lock=true
prefer-offline=true
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000

# Injected at runtime by GitHub Actions or Docker
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
